# Managed by Ansible
# WireGuard client configuration - connects to home network

[Interface]
PrivateKey = {{ vault_wireguard_client_private_key }}
Address = {{ wireguard_address }}
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_endpoint }}
PersistentKeepalive = 25
