# Managed by Ansible
# WireGuard client configuration - connects to home network

[Interface]
PrivateKey = {{ wireguard_client_private_key }}
Address = {{ wireguard_address }}
ListenPort = 51820

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 192.168.1.0/24
Endpoint = {{ wireguard_endpoint }}
PersistentKeepalive = 25
