# Managed by Ansible
# CoreDNS configuration

{{ internal_domain }} {
    hosts {
{% for name, ip in dns_records.items() %}
        {{ ip }} {{ name }}.{{ internal_domain }}
{% endfor %}
        fallthrough
    }
    log
    errors
}

. {
    forward . 185.12.64.2 185.12.64.1 {
        health_check 5s
    }
    log
    errors
    cache 30
}
